body{
    background-color: rgb(205, 237, 248);
    border: 3px solid rgb(235, 124, 124);
    border-radius: 10%;
    box-shadow: 3px 2px 2px 3px rgb(245, 215, 176);
}
.title{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(12, 12, 88);
    text-align: center;
    text-shadow: 3px 2px 5px sienna;
    border-bottom: 2px dotted saddlebrown;
}
.subtitle1{
    margin-top: 5%;
    margin-left: 7.5%;
    color: rgb(2, 59, 27);
}
.subtitle2{
    margin-top: 1%;
    margin-left: 7.5%;
    color: rgb(109, 4, 4);
}
.subContent1{
    margin-left: 7.5%;
    color: rgb(2, 61, 61);
}
.radioGroup{
    margin-left: 10%;
    color: rgb(109, 6, 38);
}
.user{
    margin-top: 7.5%;
    margin-left: 8%;
    color: #39045f;
}
button{
    background-color: rgb(46, 109, 190);
    color: floralwhite;
    text-align: center;
    font-size: 100%;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 48%;
    margin-bottom: 2%;
    padding: .75% .75% .75%;
}
#nav ul{
    background-color: gray;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}
#nav li{
    float: left;
    display: block;
    padding-top: .5%;
    padding-bottom: .5%;
}
#nav li a{
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    padding: 15px 15px;
}
#nav a:hover{
    background-color: black;
}
#rightSide{
    float: right;
    margin-top: 1%;
    margin-right: 10%;
}
.indexMain{
    float: left;
    margin-left: 5%;
    margin-right: 1%;
    width: 40%;
}
footer{
    clear: both;
}
